{%extends 'base.html'%} {%block title%} Register {%endblock%} {%block contenido%}

<!-- Section: Design Block -->
<div id="register">
  <section class="vh-100">
    <div class="container-fluid h-custom">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="w-full max-w-xs" id = "CardLogin2">
          <form
            id="formu"
           action="/register"
            method="POST"
          >
            <!-- Email input -->

            <div>
              <label
                for="form3Example3"
                >Username</label
              >
              <input
                type="text"
                name="usuario"
                id="form3Example3"
              />

              <!-- Password input -->
              <label
                for="form3Example4"
                >Contraseña</label
              >
              <input
                name="contraseña"
                type="password"
                id="form3Example4"
              />
              <label
                for="form3Example4"
                pattern="[A-Za-z][A-Za-z0-9]*[0-9][A-Za-z0-9]*"
                minlength="8"
                title="La contraseña requiere 8 caracteres, letras mayuscula y minuscula y/o números"
                >Confirmar contraseña</label
              >
              <input
                name="confirmacion"
                type="password"
                id="form3Example4"
              />
            </div>

            <button
              type="submit"
              class="rounded-5 p-5 bg-white hover:bg-white text-black font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
            >
              Registrarme
            </button>
            <p class="text-black small fw-bold mt-2 pt-1 mb-0">
              Ya tienes una cuenta?
              <a href="/login" class="link-danger">Login</a>
            </p>
          </form>
        </div>
      </div>
    </div>
  </section>
</div>

<!-- Section: Design Block -->
{%endblock%}
